{{ attach_library('b5subtheme/guestbook-page') }}
{{ form }}
<div class="feedback">
  {% for i in list %}
    <div class="{{ cycle(['odd', 'even'], loop.index0) }}">
      <div class="user--data">
        <div class="user__avatar">
        {% if i.avatar %}
          <img src="{{ i.avatar }}" alt="{{ i.name }}" title="{{ i.name }}">
        {% else %}
          <img src="/modules/custom/guestbook/img/default-avatar.jpeg" alt="{{ i.name }}" title="{{ i.name }}">
        {% endif %}
        </div>
        <div class=" user__name ">{{ i.name }}</div>
        <div class=" timestamp ">{{ i.timestamp }}</div>
      </div>
      <div class="feedback--user">
        <p class=" feedback__comment ">{{ i.comment }}</p>
        {% if i.image %}
          <div class=" feedback__image " >
            <a href="{{ i.image }}" target="_blank"><img src="{{ i.image }}" alt="{{ 'Feedback photo' }}"></a>
          </div>
        {% endif %}
        <div class="contact">
          <div class=" contact__phone ">{{ i.phone }}</div>
          <div class=" contact__email ">{{ i.email }}</div>
        </div>
      </div>
      {% if 'administrator' in user.getroles %}
        <div class="admin--links">
          <div class="option-links">

            {{ links }}
          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>


